<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> BOBAXIXIXI </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
 
<body>
<nav th:replace="fragments/fragment :: navbar('Store')">
</nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Add New Store</h2>
                <br>
                <form th:action="@{/store/add}" th:object="${store}" method="POST">
                    Store Name : <br>
                    <input required class="form-control" type="text" name="namaStore" th:value="*{namaStore}"/>
                    <br><br>
 
                    Manager : <br>
                    <select name="manager" th:field="*{manager}">
                        <div th:each="mn : ${listManager}">
                            <option  th:value="${mn.idManager}" th:text="${mn.namaManager}"></option>
                        </div>
                    </select>
                    <br><br>

                    Address : <br>
                    <input required class="form-control" type="text" name="alamatStore" th:value="*{alamatStore}"/>
                    <br><br>
                    
                    Waktu Buka : <br>
                        <input required class="form-control" type="time" th:value="*{jamBuka}" name="jamBuka" />
                        <br><br>
                    
                    Waktu Tutup : <br>
                        <input required class="form-control" type="time" th:value="*{jamTutup}" name="jamTutup" />
                        <br><br>
 
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/store">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>