<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <title> BOBAXIXIXI </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
 
<body>
<nav th:replace="fragments/fragment :: navbar('Home')">
</nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>Welcome to BOBAXIXIXI</h2>
        <br><br>
        <h3 style="text-align: center;">List of Features:</h3>
        <br>
        <div class="d-flex justify-content-center">
            <a th:href="@{/store}" class="mx-2 btn btn-dark">Store</a>
            <a th:href="@{/boba}" class="mx-2 btn btn-dark">Boba</a>
            <a th:href="@{/search}" class="mx-2 btn btn-dark">Search</a>
            <a th:href="@{/filter}" class="mx-2 btn btn-dark">Filter</a>
        </div>
    </div>
</div>
</body>
 
</html>